header p{
    color:blueviolet !important;
    font-size: 28px;
}

header p{
    color:rgb(156, 226, 43);
    font-size: 28px;
}

footer{
    background-color: brown;
    color: antiquewhite;
    text-decoration:underline;
}

strong{
    color: brown;
}

a{
    color: #cf2222;
}

