#comPadding{
    padding: 0% 5% 0% 5%;
}

div{
    margin-bottom: 50px;
}

.carrousel-section{
    margin-top: 20px;
    width: 50%;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
